<html>
	<head>		
		<title>editmos</title>
	</head>

<body style="position:relative; width:900px;margin:0px auto;">
  <h1 style="text-align:center"><a href="/">Wiki Home</a></h1>

  <div>
  <a href="/newpost" style="color:orange;float:right; margin-top:-80px;">Create an article</a><br> 
  <a href="/{{state}}" style="color:orange;float:right;margin-right:-20%; margin-top:1%;">{{state}}</a>
  <a href="/{{user}}" style="color:orange;float:right;margin-right:-13%; margin-top:1%;">{{user}}</a>
  </div>
  <br>
  <br>


	<form method="post">
	<textarea name="txtare" style="height:50%;width:70%">{{jval}}</textarea>
	<input type="submit">
	</form>


</body>

</html>